In [1]:
import data
import pandas as pd

In [2]:
# Specify database path
db = '/Users/spencermoon/Desktop/database.sqlite'

In [3]:
# Load data tables
country = data.read('country', db)
league = data.read('league', db)
match = data.read('match', db)
player = data.read('player', db)
player_attributes = data.read('player_attributes', db)
team = data.read('team', db)
team_attributes = data.read('team_attributes', db)

country: loaded
league: loaded
match: loaded
player: loaded
player_attributes: loaded
team: loaded
team_attributes: loaded

In [10]:
match[(match['league_id'] == 1729)]

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
1728,1729,1729,1729,2008/2009,1,2008-08-17 00:00:00,489042,10260,10261,1,...,10.00,1.28,5.50,12.00,1.30,4.75,10.00,1.29,4.50,11.00
1729,1730,1729,1729,2008/2009,1,2008-08-16 00:00:00,489043,9825,8659,1,...,12.00,1.25,6.00,13.00,1.22,5.50,13.00,1.22,5.00,13.00
1730,1731,1729,1729,2008/2009,1,2008-08-16 00:00:00,489044,8472,8650,0,...,1.73,5.50,3.80,1.65,5.00,3.40,1.70,4.50,3.40,1.73
1731,1732,1729,1729,2008/2009,1,2008-08-16 00:00:00,489045,8654,8528,2,...,3.75,1.90,3.50,4.35,1.91,3.25,4.00,1.91,3.25,3.80
1732,1733,1729,1729,2008/2009,1,2008-08-17 00:00:00,489046,10252,8456,4,...,3.75,1.90,3.50,4.35,1.91,3.25,4.00,1.91,3.30,3.75
1733,1734,1729,1729,2008/2009,1,2008-08-16 00:00:00,489047,8668,8655,2,...,3.40,2.05,3.30,4.00,2.00,3.25,3.75,2.00,3.25,3.50
1734,1735,1729,1729,2008/2009,1,2008-08-16 00:00:00,489048,8549,8586,2,...,2.20,3.20,3.40,2.30,3.00,3.25,2.30,2.80,3.25,2.30
1735,1736,1729,1729,2008/2009,1,2008-08-16 00:00:00,489049,8559,10194,3,...,4.33,1.85,3.40,4.80,1.83,3.25,4.50,1.80,3.25,4.33
1736,1737,1729,1729,2008/2009,1,2008-08-16 00:00:00,489050,8667,9879,2,...,2.75,2.60,3.40,2.80,2.60,3.25,2.60,2.60,3.25,2.50
1737,1738,1729,1729,2008/2009,1,2008-08-17 00:00:00,489051,8455,8462,4,...,10.00,1.33,5.00,11.00,1.33,4.75,9.00,1.33,4.20,10.00
1738,1739,1729,1729,2008/2009,10,2008-10-29 00:00:00,489132,10260,8654,2,...,17.00,1.20,6.10,19.00,1.20,6.00,13.00,1.22,5.50,12.00
1739,1740,1729,1729,2008/2009,10,2008-10-29 00:00:00,489133,9825,8586,4,...,8.00,1.45,4.40,7.50,1.45,4.00,7.00,1.40,4.00,8.00
1740,1741,1729,1729,2008/2009,10,2008-10-29 00:00:00,489134,8549,8456,2,...,2.60,2.60,3.25,2.40,2.70,3.25,2.50,2.62,3.25,2.50
1741,1742,1729,1729,2008/2009,10,2008-10-29 00:00:00,489135,8559,8668,0,...,2.75,2.60,3.40,2.70,2.50,3.25,2.70,2.40,3.25,2.80
1742,1743,1729,1729,2008/2009,10,2008-10-29 00:00:00,489136,8667,8455,0,...,1.44,7.00,4.60,1.45,7.00,4.00,1.45,7.00,4.00,1.44
1743,1744,1729,1729,2008/2009,10,2008-10-29 00:00:00,489137,10194,8472,1,...,2.75,2.65,3.35,2.70,2.50,3.25,2.70,2.38,3.25,2.80
1744,1745,1729,1729,2008/2009,10,2008-10-29 00:00:00,489138,8650,8462,1,...,9.50,1.35,4.80,10.00,1.36,4.50,9.00,1.36,4.20,9.00
1745,1746,1729,1729,2008/2009,10,2008-10-29 00:00:00,489139,10252,8655,3,...,5.50,1.65,3.85,5.50,1.70,3.40,5.00,1.67,3.50,5.00
1746,1747,1729,1729,2008/2009,10,2008-10-28 00:00:00,489140,10261,8659,2,...,4.50,1.85,3.45,4.60,1.90,3.30,4.00,1.83,3.50,4.00
1747,1748,1729,1729,2008/2009,10,2008-10-29 00:00:00,489141,9879,8528,2,...,3.00,2.40,3.35,3.00,2.40,3.25,2.80,2.25,3.25,3.00
1748,1749,1729,1729,2008/2009,11,2008-11-01 00:00:00,489142,10260,8667,4,...,19.00,1.17,7.00,19.00,1.18,6.00,17.00,1.17,6.50,13.00
1749,1750,1729,1729,2008/2009,11,2008-11-01 00:00:00,489143,8586,8650,2,...,2.05,3.35,3.50,2.15,3.60,3.35,2.05,3.40,3.20,2.10
1750,1751,1729,1729,2008/2009,11,2008-11-01 00:00:00,489144,8668,9879,1,...,5.50,1.65,3.70,5.80,1.73,3.50,4.75,1.70,3.40,5.00
1751,1752,1729,1729,2008/2009,11,2008-11-01 00:00:00,489145,8549,8654,1,...,4.00,1.95,3.35,4.20,2.00,3.30,3.75,1.91,3.40,3.75
1752,1753,1729,1729,2008/2009,11,2008-11-03 00:00:00,489146,10261,10252,2,...,2.50,3.10,3.30,2.40,3.00,3.20,2.38,2.80,3.20,2.40
1753,1754,1729,1729,2008/2009,11,2008-11-02 00:00:00,489147,8559,8456,2,...,2.38,3.15,3.40,2.30,3.00,3.20,2.38,3.00,3.25,2.25
1754,1755,1729,1729,2008/2009,11,2008-11-01 00:00:00,489148,8659,8655,2,...,2.80,2.55,3.35,2.80,2.50,3.30,2.75,2.50,3.20,2.70
1755,1756,1729,1729,2008/2009,11,2008-11-01 00:00:00,489149,8462,8528,1,...,4.33,1.95,3.45,4.10,1.95,3.30,4.00,1.91,3.40,3.75
1756,1757,1729,1729,2008/2009,11,2008-11-01 00:00:00,489150,10194,9825,2,...,1.44,8.00,4.80,1.40,8.00,4.00,1.45,8.50,4.00,1.40
1757,1758,1729,1729,2008/2009,11,2008-11-01 00:00:00,489151,8455,8472,5,...,13.00,1.20,6.70,15.00,1.20,6.00,15.00,1.17,6.50,13.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4738,4739,1729,1729,2015/2016,7,2015-09-26 00:00:00,1988770,8197,9825,2,...,NaN,4.40,3.90,1.85,NaN,NaN,NaN,NaN,NaN,NaN
4739,4740,1729,1729,2015/2016,7,2015-09-26 00:00:00,1988771,8650,10252,3,...,NaN,1.55,4.10,7.50,NaN,NaN,NaN,NaN,NaN,NaN
4740,4741,1729,1729,2015/2016,7,2015-09-26 00:00:00,1988772,10260,8472,3,...,NaN,1.22,7.00,15.00,NaN,NaN,NaN,NaN,NaN,NaN
4741,4742,1729,1729,2015/2016,7,2015-09-26 00:00:00,1988773,10261,8455,2,...,NaN,6.00,4.00,1.65,NaN,NaN,NaN,NaN,NaN,NaN
4742,4743,1729,1729,2015/2016,7,2015-09-26 00:00:00,1988774,8466,10003,3,...,NaN,2.10,3.30,4.10,NaN,NaN,NaN,NaN,NaN,NaN
4743,4744,1729,1729,2015/2016,7,2015-09-26 00:00:00,1988775,10194,8678,2,...,NaN,2.55,3.30,3.00,NaN,NaN,NaN,NaN,NaN,NaN
4744,4745,1729,1729,2015/2016,7,2015-09-26 00:00:00,1988776,8586,8456,4,...,NaN,4.00,3.80,1.95,NaN,NaN,NaN,NaN,NaN,NaN
4745,4746,1729,1729,2015/2016,7,2015-09-27 00:00:00,1988777,9817,9826,0,...,NaN,2.70,3.13,3.00,NaN,NaN,NaN,NaN,NaN,NaN
4746,4747,1729,1729,2015/2016,7,2015-09-28 00:00:00,1988778,8659,8668,2,...,NaN,3.10,3.30,2.50,NaN,NaN,NaN,NaN,NaN,NaN
4747,4748,1729,1729,2015/2016,7,2015-09-26 00:00:00,1988779,8654,9850,2,...,NaN,2.25,3.50,3.40,NaN,NaN,NaN,NaN,NaN,NaN
4748,4749,1729,1729,2015/2016,8,2015-10-04 00:00:00,1988780,9825,10260,3,...,NaN,2.05,3.70,3.80,NaN,NaN,NaN,NaN,NaN,NaN
4749,4750,1729,1729,2015/2016,8,2015-10-03 00:00:00,1988781,10252,10194,0,...,NaN,2.50,3.30,3.13,NaN,NaN,NaN,NaN,NaN,NaN
4750,4751,1729,1729,2015/2016,8,2015-10-03 00:00:00,1988782,8678,9817,1,...,NaN,2.10,3.50,3.80,NaN,NaN,NaN,NaN,NaN,NaN
4751,4752,1729,1729,2015/2016,8,2015-10-03 00:00:00,1988783,8455,8466,1,...,NaN,1.83,3.75,4.75,NaN,NaN,NaN,NaN,NaN,NaN
4752,4753,1729,1729,2015/2016,8,2015-10-03 00:00:00,1988784,9826,8659,2,...,NaN,1.85,3.50,5.00,NaN,NaN,NaN,NaN,NaN,NaN
4753,4754,1729,1729,2015/2016,8,2015-10-04 00:00:00,1988785,8668,8650,1,...,NaN,2.70,3.40,2.80,NaN,NaN,NaN,NaN,NaN,NaN
4754,4755,1729,1729,2015/2016,8,2015-10-03 00:00:00,1988786,8456,10261,6,...,NaN,1.22,7.00,15.00,NaN,NaN,NaN,NaN,NaN,NaN
4755,4756,1729,1729,2015/2016,8,2015-10-03 00:00:00,1988787,9850,8197,1,...,NaN,2.30,3.60,3.20,NaN,NaN,NaN,NaN,NaN,NaN
4756,4757,1729,1729,2015/2016,8,2015-10-03 00:00:00,1988788,8472,8654,2,...,NaN,3.13,3.50,2.40,NaN,NaN,NaN,NaN,NaN,NaN
4757,4758,1729,1729,2015/2016,8,2015-10-04 00:00:00,1988789,10003,8586,2,...,NaN,2.70,3.40,2.80,NaN,NaN,NaN,NaN,NaN,NaN
4758,4759,1729,1729,2015/2016,9,2015-10-17 00:00:00,1988790,8455,10252,2,...,NaN,1.33,5.50,10.50,NaN,NaN,NaN,NaN,NaN,NaN
4759,4760,1729,1729,2015/2016,9,2015-10-17 00:00:00,1988791,9826,8654,1,...,NaN,2.05,3.50,4.00,NaN,NaN,NaN,NaN,NaN,NaN
4760,4761,1729,1729,2015/2016,9,2015-10-17 00:00:00,1988792,8668,10260,0,...,NaN,3.20,3.30,2.45,NaN,NaN,NaN,NaN,NaN,NaN
4761,4762,1729,1729,2015/2016,9,2015-10-17 00:00:00,1988793,8456,8678,5,...,NaN,1.33,5.50,10.50,NaN,NaN,NaN,NaN,NaN,NaN
4762,4763,1729,1729,2015/2016,9,2015-10-18 00:00:00,1988794,10261,9850,6,...,NaN,2.60,3.40,2.88,NaN,NaN,NaN,NaN,NaN,NaN
4763,4764,1729,1729,2015/2016,9,2015-10-17 00:00:00,1988795,8466,8197,2,...,NaN,1.75,3.90,5.00,NaN,NaN,NaN,NaN,NaN,NaN
4764,4765,1729,1729,2015/2016,9,2015-10-19 00:00:00,1988796,10003,10194,0,...,NaN,2.05,3.40,4.10,NaN,NaN,NaN,NaN,NaN,NaN
4765,4766,1729,1729,2015/2016,9,2015-10-17 00:00:00,1988797,8586,8650,0,...,NaN,2.45,3.50,3.00,NaN,NaN,NaN,NaN,NaN,NaN
4766,4767,1729,1729,2015/2016,9,2015-10-17 00:00:00,1988798,9817,9825,0,...,NaN,6.25,4.20,1.60,NaN,NaN,NaN,NaN,NaN,NaN
4767,4768,1729,1729,2015/2016,9,2015-10-17 00:00:00,1988799,8659,8472,1,...,NaN,2.05,3.30,4.20,NaN,NaN,NaN,NaN,NaN,NaN